.HeroSubscription {
  background-color: #25201d;
  margin-top: 3rem;
}
.HeroBanner img {
  top: -50px;
  position: relative;
  z-index: 1;
}
.HeroBannerText {
  color: #fff;
  margin-top: 3rem;
}
.HeroBannerText h3 {
  font-weight: bold;
  letter-spacing: 0.03em;
}
.HeroBannerText p {
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.HeroSubscriptionbtn {
  background-color: #514d4a;
  border: 1px solid #514d4a;
  border-radius: 5px;
}
.HeroSubscriptionbtn ::placeholder {
  color: #fff;
}
.HeroSubscription-submit {
  background-color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 15px;
  color: #242120;
}
@media (max-width: 900px) {
  .HeroSubscription {
    padding: 0px 1rem;
  }
  .HeroBanner img {
    top: 0px;
    padding-top: 1.5rem;
  }
}
