.Notification-btn {
  padding: 1rem 4rem;
  background: #ff5c00;
  border-radius: 8px;
  border: 1px solid #ff5c00;
  color: #fff;
  font-size: 0.8rem;
}
.notification-celeb {
  width: 70px;
  height: 70px;
  background: #fff8f5;
  border: 1px solid #fff8f5;
  border-radius: 50%;
}
